.products {
    padding: 50px 20px;
    text-align: center;
  }
  
  .product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .product {
    padding: 20px;
    background:  rgb(247, 239, 200);
    border-radius: 5px;
    text-align: center;
  }
  